/* NanumSquare */
@font-face {
    font-family: 'NanumSquareL';
    src: url('../../fonts/NanumSquare/NanumSquare_acL.eot');
    src: url('../../fonts/NanumSquare/NanumSquare_acL.eot?#iefix')
            format('embedded-opentype'),
        url('../../fonts/NanumSquare/NanumSquare_acL.svg#NanumSquare_acL')
            format('svg'),
        url('../../fonts/NanumSquare/NanumSquare_acL.ttf') format('truetype'),
        url('../../fonts/NanumSquare/NanumSquare_acL.woff') format('woff'),
        url('../../fonts/NanumSquare/NanumSquare_acL.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NanumSquareR';
    src: url('../../fonts/NanumSquare/NanumSquare_acR.eot');
    src: url('../../fonts/NanumSquare/NanumSquare_acR.eot?#iefix')
            format('embedded-opentype'),
        url('../../fonts/NanumSquare/NanumSquare_acR.svg#NanumSquare_acR')
            format('svg'),
        url('../../fonts/NanumSquare/NanumSquare_acR.ttf') format('truetype'),
        url('../../fonts/NanumSquare/NanumSquare_acR.woff') format('woff'),
        url('../../fonts/NanumSquare/NanumSquare_acR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NanumSquareB';
    src: url('../../fonts/NanumSquare/NanumSquare_acB.eot');
    src: url('../../fonts/NanumSquare/NanumSquare_acB.eot?#iefix')
            format('embedded-opentype'),
        url('../../fonts/NanumSquare/NanumSquare_acB.svg#NanumSquare_acB')
            format('svg'),
        url('../../fonts/NanumSquare/NanumSquare_acB.ttf') format('truetype'),
        url('../../fonts/NanumSquare/NanumSquare_acB.woff') format('woff'),
        url('../../fonts/NanumSquare/NanumSquare_acB.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NanumSquareEB';
    src: url('../../fonts/NanumSquare/NanumSquare_acEB.eot');
    src: url('../../fonts/NanumSquare/NanumSquare_acEB.eot?#iefix')
            format('embedded-opentype'),
        url('../../fonts/NanumSquare/NanumSquare_acEB.svg#NanumSquare_acEB')
            format('svg'),
        url('../../fonts/NanumSquare/NanumSquare_acEB.ttf') format('truetype'),
        url('../../fonts/NanumSquare/NanumSquare_acEB.woff') format('woff'),
        url('../../fonts/NanumSquare/NanumSquare_acEB.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* 훈고딕굴림 */
@font-face {
    font-family: 'NanumBarunGothicUltraLight';
    src: url('../../fonts/NanumBarunGothic/NanumBarunGothicUltraLight.ttf')
        format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NanumBarunGothicLight';
    src: url('../../fonts/NanumBarunGothic/NanumBarunGothicLight.ttf')
        format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NanumBarunGothicR';
    src: url('../../fonts/NanumBarunGothic/NanumBarunGothic.ttf')
        format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NanumBarunGothicB';
    src: url('../../fonts/NanumBarunGothic/NanumBarunGothicBold.ttf')
        format('truetype');
    font-weight: normal;
    font-style: normal;
}
