@import '../../common/mixins';

.wrap {
    width: 100%;
}

.bodyWrap {
    width: 100%;
    padding: 5vh 20%;

    @include responsive(tab_vert) {
        padding: 5vh 10%;
    }

    @include responsive(tab_hori) {
        padding: 5vh 10%;
    }

    @include responsive(phone) {
        padding: 5vh 4%;
    }

    .redirectionWrap {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 10px 0 10vh 0;
    }

    // Redirection Input 및 button 박스
    .redirectionBox {
        width: 100%;
        display: flex;

        .redirectionInput {
            width: calc(100% - 90px);
            height: 10rem;
            padding: 20px 16px;
            font-size: 1.2rem;
            font-family: 'NanumSquareB';
            letter-spacing: 0.1rem;
            border-radius: 6px 0px 0px 6px;
            resize: none;
        }

        .createRedirectionButton {
            width: 90px;
            height: 10rem;
            font-size: 0.9rem;
            border-radius: 0px 6px 6px 0px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: 'NanumBarunGothicR';
            font-weight: bold;
            background-color: #2e86de;
            color: #fff;
            line-height: 1.6rem;
            letter-spacing: 0.1rem;

            border-top: 1px solid #000;
            border-right: 1px solid #000;
            border-bottom: 1px solid #000;
            cursor: pointer;

            &:hover {
                background-color: #54a0ff;
            }
        }
    }

    // Redirection 프리뷰 박스
    .redirectionPreviewBox {
    }

    .descriptionWrap {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
}

/* 로그인 */
.bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(#000000, 0.06);

    .wrap {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        max-width: 300px;
        // height: 100%;
        // max-height: 400px;
        background-color: #ffffff;
        padding: 36px 20px;
        box-shadow: rgba(#000000, 0.25);
    }

    .loginImg {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .titleBox {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .title {
            font-family: 'NanumSquareB';
            font-weight: bold;
            font-size: 1.6rem;
            margin-bottom: 10px;
        }

        .subTitle {
            font-family: 'NanumSquareL';
            font-weight: bold;
            font-size: 0.8rem;
            color: #576574;
            margin-bottom: 20px;
        }
    }

    .loginBox {
        width: 100%;

        .loginBtn {
            width: 12rem;
            height: 4rem;
        }
    }
}
